---
import Layout from "../layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { CurrentDateTime } from "../solid/current-datetime";
import { cn } from "../utils/cn";

const works = await Astro.glob("../pages/work-history/*.md");
const isOddAmountOfPosts = works.length % 2 !== 0;
---

<Layout title="work history">
  <h1 class="text-2xl">Work History</h1>
  <section class="grid grid-cols-2 gap-6 mt-12">
    {
      works.map(({ frontmatter, url }, idx) => (
        <a
          href={url}
          class={cn(isOddAmountOfPosts && idx === 0 && "col-span-2")}
        >
          <div class="border p-4 rounded-lg hover:scale-105 hover:shadow-xl duration-100">
            <div class="flex justify-between gap-2 items-center">
              <h2 class="text-xl font-bold">{frontmatter.position}</h2>
              <span class="flex gap-2 items-center">
                <img
                  src={`http://www.google.com/s2/favicons?domain=${frontmatter.domain}`}
                />
                <h3 class="font-semibold">{frontmatter.company}</h3>
              </span>
            </div>
            <p class="my-3 text-muted-foreground">{frontmatter.description}</p>
            <div class="flex justify-center items-center border-t pt-4">
              <span>
                <FormattedDate date={new Date(frontmatter.startDate)} />
                <span class="text-muted-foreground">{" -> "}</span>
                {frontmatter.endDate ? (
                  <FormattedDate date={new Date(frontmatter.endDate)} />
                ) : (
                  <CurrentDateTime client:visible />
                )}
              </span>
            </div>
          </div>
        </a>
      ))
    }
  </section>
</Layout>
