---
import Layout from "../layout.astro";
import { EMAIL } from "../consts";
import type { PostFrontmatter } from "../types/md-frontmatter";
import Timeline from "../components/timeline.astro";
import HomeLink from "../components/home-link.astro";

const works = (
  await Astro.glob<PostFrontmatter<"work">>("../pages/work-history/*.md")
).sort(
  (a, b) =>
    new Date(b.frontmatter.startDate).getTime() -
    new Date(a.frontmatter.startDate).getTime(),
);
---

<Layout
  title="work history"
  seo={{
    description: "My commercial experience.",
    keywords: ["job", "work", "experience", "history"],
  }}
>
  <HomeLink />
  <h1 class="text-2xl">Work History</h1>

  <div class="border border-accent bg-accent/10 rounded-md p-4 mt-6 mb-10">
    <p class="md:text-lg font-bold">Want to be a part of this list? 🥸</p>
    <p class="text-muted-foreground text-sm md:text-base">
      Reach out to me via email: <a
        href={`mailto:${EMAIL}`}
        class="underline text-foreground">{EMAIL}</a
      >
    </p>
  </div>

  <section class="grid">
    {
      works.map(({ frontmatter, url }, idx, self) => (
        <Timeline
          startDate={frontmatter.startDate}
          endDate={frontmatter.endDate}
          isFirst={idx === 0}
          isLast={idx === self.length - 1}
        >
          <a href={url}>
            <div class="border p-4 rounded-lg bg-background hover:bg-muted/30 hover:border-accent group">
              <div class="flex justify-between gap-2 md:items-center flex-col md:flex-row">
                <h2 class="text-xl font-bold">{frontmatter.position}</h2>
                <span class="flex gap-2 items-center">
                  <img
                    src={`http://www.google.com/s2/favicons?domain=${frontmatter.domain}`}
                  />
                  <h3 class="font-semibold">{frontmatter.company}</h3>
                </span>
              </div>
              <p class="my-3 text-muted-foreground text-sm">
                {frontmatter.description}
              </p>
            </div>
          </a>
        </Timeline>
      ))
    }
  </section>
</Layout>
